$page-bg: #f5f5f5;
$colorSubNav: #181818;
$colorNav: #151515; //nav/footer color
$colorNavd: darken($colorNav, 15%);
$colorNavl: lighten($colorNav, 15%);
.colorNav {background-color: $colorNav !important;}
.colorNavl {background-color: $colorNavl !important;}
.colorNavd {background-color: $colorNavd !important;}
$colorA: #0F1626; //main color
$colorAd: darken($colorA, 15%);
$colorAl: lighten($colorA, 15%);
.colorA {background-color: $colorA !important;}
.colorAl {background-color: $colorAl !important;}
.colorAd {background-color: $colorAd !important;}
$colorB: #ffab40; //secondary color
$colorBd: darken($colorB, 15%);
$colorBl: lighten($colorB, 15%);
.colorB {background-color: $colorB !important;}
.colorBl {background-color: $colorBl !important;}
.colorBd {background-color: $colorBd !important;}
$colorC: #1A2930; //ternary color
$colorCd: darken($colorC, 15%);
$colorCl: lighten($colorC, 15%);
.colorC {background-color: $colorC !important;}
.colorCl {background-color: $colorCl !important;}
.colorCd {background-color: $colorCd !important;}
$colorD: #A9B7C0; //extra color (e.g. buttons)
$colorDd: darken($colorD, 15%);
$colorDl: lighten($colorD, 15%);
.colorD {background-color: $colorD !important;}
.colorDl {background-color: $colorDl !important;}
.colorDd {background-color: $colorDd !important;}

@font-face {
    font-family: Russia;
    src: url("/assets/font/Dusha_-_FIFA_World_Cup_2018.ttf");
}

h1, h2, h3, h4, h5 {
    font-family: Russia !important;
}

#firstContent * {
    font-family: Roboto, sans-serif;
}

nav {
    background-color: $colorNav;
    .brand-logo {
        padding-left: 1%;
        i {
            margin-left: 7px;
            img {
                margin-top: 5px;
                height: 80%;
            }
        }
    }
    .nav-wrapper>ul li.active {
        background-color: $colorNavl;
    }
    .nav-content {
        background-color: $colorSubNav;
        padding-left: 80%;
        @media screen and (max-width: 992px) {
            padding-left: 0px;
        }
    }
    .input-field {
        i:first-of-type {
            color: rgba(230, 230, 230, 0.9) !important;
            right: initial !important;
            left: 0.5em;
            top: -15% !important;
        }
        input[type=search] {
            padding-right: 3.5em;
            border: 0 !important;
            box-sizing: border-box;
            &:focus+i:first-of-type {
                color: #444 !important;
            }
        }
    }
}

.side-nav {
    padding-top: 15px;
}

footer {
    background-color: $colorNav !important;
    margin-top: 60px;
    
    .footer-copyright {
        background-color: $colorSubNav;
        .container {
            .row {
                margin-bottom: 0;
                position: relative;
                div {
                    &:last-of-type {
                        @media screen and (min-width: 993px) {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}