@import '_main.scss';

.nav-content {
    display: none;
}

#myModal {
    top: 20vh;
    height: 50vh;
}

#notif {
    margin: 70px 0 45px 0;
}

#form-email {
    h4 {
        padding-top: 20px;

        @media screen and (max-width: 600px) {
            padding-top: 10px;
        }
    }
}