@import '_main.scss';

body {
    background-color: $page-bg;
}

#loading {
    display: none;
}

body.loading {
    overflow-y: hidden;

    #loading {
        display: block !important;
        position : fixed;
        width : 100vw;
        height : 100vh;
        background-color: #fff;
        z-index : 1000;

        #ball {
            display : inline-block;
            position : absolute;
            top: 50%;
            left : 50%;
            transform: translate(-50%, -50%);
        }
    }
}

body.login {
    overflow-y: hidden;

    #login {
        text-align: right;
        .close {
            display: none;
            color: white;
            padding: 15px 15px 0 0;
            cursor: pointer;
        }
    }

    div#login {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 999;

        #formLogin {
            position: absolute;
            min-width: 25%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            #name {
                color: white;
                -webkit-box-shadow: 0px 0px 0px;
                box-shadow: 0px 0px 0px;
            }

            #sendLogin {
                width: 100%;
            }
        }
    }
}

#imgHead {
    @media screen and (min-width: 1200px) {
        height: calc(100vh - 112px);
    }
    @media screen and (max-width: 1200px) {
        height: calc(100vh - 110.5px);
    }
    @media screen and (max-width: 992px) {
        height: calc(100vh - 109px);
    }
    @media screen and (max-width: 600px) {
        height: calc(100vh - 101px);
    }

    width: 100%;
    background-image: url(/assets/img/imgHead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    position : relative;

    #overlay {
        width : 100%;
        height : 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }

    #welcome {
        position : absolute;
        top: 41%;
        left : 50%;
        transform: translate(-50%, -50%);
        text-align : center;
        color: #f5f5f5e6;
        font-size: 4.9vw;

        @media screen and (max-width: 600px) {
            font-size: 7.4vw;
        }
    }

    .arrow-pulse-down:after {
        // content: "\01F863";
        /* Here you can change the style of the arrow */
        // position: absolute;
        // color: white;
        // width: 50px;
        // height: 50px;
        // margin: 0 auto;
        // left: 0;
        // right: 0;
        // font-size: 50px;
        // animation: arrow-pulse-down 700ms linear infinite;
        // cursor: pointer;

        content: url(https://www.bolaodomauricio.xyz/assets/img/down-arrow.png);
        position: absolute;
        left: 50%;
        transform: translate(-50%, 30%) scale(0.5);
        animation: arrow-pulse-down .7s linear infinite;
        cursor: pointer;

        @media screen and (max-width: 900px) {
            transform: translate(-50%, 40%) scale(0.25);
        }
    }

    @keyframes arrow-pulse-down {
        0% {
            bottom: 40px;
            opacity: 0;
        }
        25% {
            opacity: .25;
        }
        50% {
            opacity: .5;
        }
        75% {
            opacity: .75;
        }
        100% {
            bottom: 20px;
            opacity: 1;
        }
    }
}

main.container {
    min-width: 85%;
}

.rank {

    @mixin content-font($line, $fSize, $weight) {
        line-height: $line;
        font-size: $fSize;
        font-weight: $weight;
    }

    $content-height: 85px;
    $content-padding: 15px;

    h1 {
        padding: 2% .75rem;
        text-align: center;
    }

    .card {

        margin: .3rem 0 !important;

        background-color: $colorBl;

        .btn-floating {
            background-color: $colorCd;
        }

        .row {
            margin-bottom: 0 !important;
        }
        
        .card-content {
            padding: $content-padding;

            >* {
                @include content-font(40px, 18px, 300);

                white-space: nowrap;

                .card-title {
                    overflow: hidden;
                }

                .pontuacao {
                    overflow: hidden;
                }
            }

            .card-title {
                margin: 0;
                overflow: hidden;
            }

            .pontuacao {
                overflow: hidden;
            }

            .card-action {
                padding: 0 !important;
                border: 0 !important;

                @media screen and (min-width: 992px) {
                    overflow: hidden;
                }

                a {
                    float: right;

                    &.large-only {
                        @media screen and (max-width: 992px) {
                            display: none !important;
                        }
                    }

                    &.btn-large, &.btn {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .rankElem {
            cursor: pointer;
            color: $colorC !important;
        }
    }

    &#rank {
        #rankList {
            #rankContent {
                margin-left: 0;
                margin-right: 0;
            }
        }
        
        .card-action {
            @media screen and (max-width: 600px) {
                transform: translateY(50%);
            }
        }

        .rankBtn {
            background-color: $colorAl;
            font-size: 0.75em;
            margin-left: .75rem;
            line-height: 50px;
            height: 50px;
            margin-top: 15px;
        }

        #refresh i {
            @media screen and (min-width: 600px) {
                float: right;
            }
        }
    }

    &#sideRank {
        position: fixed;
        width: 16%;
        top: 5%;
        background-color: darken($page-bg, 5%)
        ;
        right: 7px;
        transition: all .3s ease-in-out;
        border-right: 7px solid $colorBl;
        box-sizing: content-box;

        -webkit-box-shadow: rgba(0, 0, 0, 0.36) 5px 5px 10px 1px;
        -moz-box-shadow: rgba(0, 0, 0, 0.36) 5px 5px 10px 1px;
        box-shadow: rgba(0, 0, 0, 0.36) 5px 5px 10px 1px;

        .card {
            background-color: $colorBd;
        }

        .btn-floating {
            background-color: $colorBl;
        }

        h2 {
            font-size: 2.5vw;
            color: black;
            padding: 0 .75rem;
        }

        >.row>.col:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)) {
            display: none;
        }

        &.hideSide {
            // z-index: -1;
            opacity: 0;
        }

        .card-content {
            $heightCard: 30px;
            padding: 0px;
            height: $heightCard;
            .card-title {
                font-size: 1.2vw;
                line-height: $heightCard;
            }
            .card-action {
                height: $heightCard;
            }
            .btn {
                $sizeBtn: 1.8vw;
                width: $sizeBtn;
                height: $sizeBtn;
                top: 50%;
                transform: translateY(-50%);
                i {
                    line-height: $sizeBtn;
                    font-size: 1.1vw;
                    vertical-align: top;
                }
            }
        }
    }

    .col:first-of-type .card-content > * {
        &.card-action {
            height: $content-height - ($content-padding * 2);
        }
        @include content-font($content-height - ($content-padding * 2), 30px, 300);

        @media screen and (max-width: 992px) {
            &.card-action {
                height: $content-height - ($content-padding * 2) - 15px;
            }

            @include content-font($content-height - ($content-padding * 2) - 15px, 30px, 300);
        }
    }

    #first {
        position: sticky;
        top: 5px;
        transition: all .25s;

        &.transform {
            transform: translateX(-14%);
        }

        &>h2 {
            margin-top: 0;
        }

        #firstContent h4 {
            margin-bottom: 0;
        }
    }
}

#chart {
    position: relative;

    h2 {
        margin-left: 20px;
    }

    p {
        margin-left: 25px;
    }

    >div {
        margin-top: 70px;
        position: relative;

        .blockMobile {
            display: none;

            @media screen and (max-width: 400px) {
                display: initial;
                position: absolute;
                z-index: 10;
                width: calc(100% - .75rem);
                height: 50%;
                background: #f5f5f5;

                div {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    display: inline-table;
                    i {
                        font-size: 15vh;
                    }
                }
            }
        }
    }
}

#modal1 {
    min-height: 350px;

    .modal-content {
        padding: 0;

        &>h4 {
            text-align: center;
            //text-transform: capitalize;
            position: sticky;
            top: 0;
            background-color: #fafafa;
            padding: 22px;
            margin: 0;
        }

        #wrapper {

            :not(h5) {
                color: #504a4a;
            }

            .jogo {
                display: inline-block;
                text-align: center;
                margin-bottom: 20px;
            }

            #sidePont {
                position: fixed;
                height: 36vh;
                right: 20px;
                background-color: #f3f3f3;

                -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);

                @media screen and (max-width: 600px) {
                    margin-bottom: 20px;
                    position: initial;

                    .sideTotal {
                        position: initial !important;
                        width: auto !important;
                    }
                }

                .sideJogo {}

                .sideNum {
                    float: right;
                    margin-right: 7px;
                }
                $sizeTotHeight: 35px;
                #sideGames {
                    height: calc(100% - 52px - #{$sizeTotHeight});
                    overflow-y: auto;
                }

                .sideTotal {
                    position: absolute;
                    bottom: 0;
                    width: calc(100% - 1.5rem);
                    line-height: $sizeTotHeight;
                    background-color: #f3f3f3;
                    padding-top: 2px;
                    border-top: 1px solid rgba(100, 100, 100, 0.3);

                    span:nth-child(2) {
                        float: right;
                        margin-right: 5px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 60px;
}

.offline-ui {
    @media screen and (max-width: 992px) {
        top: auto;
        bottom: 0;
    }
}